h1 {
    text-align: center;
    font-size: 40px;
    background-color: black;
    color: wheat;
}

.container {
    border: 1px solid;
    width: 28%;
    height: 19vw;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(193, 203, 214);
    border-radius: 15px;
    display: block;
}

button {
    border-radius: 5px;
    width: 25%;
    padding: 5px;
    border-color: white;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 2px;
}

#Play {
    background-color: rgb(40, 167, 69);
}

#reset {
    background-color: rgb(204, 109, 109);
}

#time {
    text-align: center;
    font-size: 55px;
    padding: 10px;
}

#sec {
    font-size: 30px;
}